.Footer{
    width: 100%;
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-color: rgb(157, 20, 199);

    position: absolute;
    bottom: 0;
    z-index: 100;
}

.Footer p{
    padding-top: 10px;
}