.Button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 40px;
    margin-top: 2em;
    background-color: whitesmoke;
}

.Button p{
    color: black;
    font-size: 1.2em;
    margin: 8px 60px;
    padding-bottom: 3px;
    font-weight: bold;
}

.Button:hover{
    background-color: white;
    border: 2px solid purple;
    font-weight: bold;
}

.Button:hover p{
    color: purple;
}